@model ContosoTravel.Web.Application.Models.CarReservationModel

<h2>Car Search Results</h2>

<form asp-action="Purchase" class="form-inline">
    <div>
        @foreach (var car in Model.Cars)
        {
            var displayCar = new ContosoTravel.Web.Application.Models.CarModelWithPrice(car, Model.NumberOfDays);
            @Html.DisplayFor(m => displayCar);
        }
        <input type="hidden" name="NumberOfDays" value="@Model.NumberOfDays" />
        <input type="submit" value="Add To Cart" class="btn btn-success" />
    </div>
</form>

